.alphabet-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 16px;
  width: 100px;
  font-size: large;
}

.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 16px;
  width: 100px;
  font-size: xx-large;
}

.character-card.bg-hiragana {
  background-color: #ffd54f;
  border-color: #ffb300;
}

.character-card.bg-katakana {
  background-color: #81c784;
  border-color: #4caf50;
}

.character-list {
  display: inline-grid;
  grid-template-columns: repeat(5, 140px);
  gap: 10px;
  padding: 20px;
}

/* not currently used */
.character-list-full-page {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}